<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- <link rel="stylesheet" href="<%= '/css/' + locals.fileName%>"> -->
        <%- style %>
    </head>

    <body>
        <%- include('_header') %>

        <!-- This is the variable part -->
        <%- body %>

        <%- include('_footer') %>

        <%- script %>
    </body>
</html>